.bg-blue-color {
  background-color: #003049;
}

.all-bg-color {
  background-color: #fdf0d5 !important;
}
.all-text-color {
  color: #fdf0d5 !important;
}
.red-color {
  color: #c1121f !important;
}

.custom-button {
  min-height: 70px;
  border: 2px solid #c1121f;
  box-shadow: 0 4px 8px rgba(248, 46, 46, 0.6);
}

.custom-button-show-data {
  background-color: #fdf0d5;
  color: #c1121f;
}
.custom-button-show-data:hover {
  background-color: #c1121f;
  color: #fdf0d5;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.custom-button-logout {
  background-color: #c1121f;
  color: #fdf0d5;
  box-shadow: 0 4px 8px rgba(219, 170, 170, 0.6);
}
.custom-button-logout:hover {
  background-color: #fdf0d5;
  color: #c1121f;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.custom-card-edit {
  color: #003049;
  border: 2px solid #003049;
}
.content-img {
  max-height: 240px;
  width: 100%;
  overflow: hidden;
}
.content-img-data {
  max-height: 200px;
  overflow: hidden;
}
