@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
.header {
  background-color: #fdfdfd;
  padding: 20px;
  background-attachment: fixed;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://mascontenidos.net/download/multimedia.normal.87bb0c3a94463163.73616e776963682d6d696c616e657361312d65643134653433343139373131345f6e6f726d616c2e6a7067.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  box-shadow: 0 2px 4px #0000001a;
  height: 700px;
}
.btn-register{
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.btn-register:hover{
  background-color: #a5a5a5  !important;
}
.btn-login{
  background-color: #0f8fda !important;
  color: #ffffff!important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover{
  background-color: #085cdb !important;
}

.container-options {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #003049;
  z-index: 999;
  box-shadow: 0 2px 4px #0000001a;
  padding: 10px; 

}

.container-title-header{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  width: 50%;

}
.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.avatar-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-icon-user{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.cart-button{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1500;
}
.basket-icon {
  height: 30px;
}
.bread-top{
  width: 200px;
  height: 40px;
  border-radius: 50% 50% 0 0;
  background: linear-gradient(#bc581e,#e27b36);
  position : relative;
}
.seed{
  position : absolute;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform:rotate(-20deg);
}
.seed-0{
  left: 20%;
  top: 20%;
}
.seed-1{
  left: 40%;
  top: 20%;
}

.seed-2{
  left: 60%;
  top: 20%;
}
.seed-3{
  left: 80%;
  top: 20%;
}

.bread-bottom{
  margin-top: 2px;
  width: 200px;
  height: 30px;
  border-radius: 0 0 30% 30%;
  background: linear-gradient(#bc581e,#e27b36);
}

.salad{
  width: 190px;
  height: 10px;
  background: linear-gradient(#228c1d,#91ce58);
  border-radius: 10px;
}
.tomato{
  width: 180px;
  height: 10px;
  background: linear-gradient(#e73c27,#ff6f31);
}
.chesse{
  width: 200px;
  height: 10px;
  border-radius: 15px;
  background: linear-gradient(#f4d004,#d6bb22);
}
.title-back{
  margin-top: 1px;
  background-color: #003049;
  width: 200px;
  height: 70px;
  border-radius:10% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.title {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #000000;
  text-align: center;
}


.title > span {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
      color:#ffffff;
      text-shadow: 0 0 12px #003049, 0 0 50px #003049, 0 0 100px #003049;
  }
  10%, 90% {
      color: #ffffff;
      text-shadow: none;
  }
}

.title > span:nth-child(2) {
  animation-delay: 0.2s;
}

.title > span:nth-child(3) {
  animation-delay: 0.4s;
}

.title > span:nth-child(4) {
  animation-delay: 0.6s;
}

.title > span:nth-child(5) {
  animation-delay: 0.8s;
}

.title > span:nth-child(6) {
  animation-delay: 1s;
}

.title > span:nth-child(7) {
  animation-delay: 1.2s;
}

.title > span:nth-child(8) {
  animation-delay: 1.4s;
}

.title > span:nth-child(9) {
  animation-delay: 1.6s;
}

.title > span:nth-child(10) {
  animation-delay: 1.8s;
}

.title > span:nth-child(11) {
  animation-delay: 2s;
}

.title > span:nth-child(12) {
  animation-delay: 2.2s;
}

.title > span:nth-child(13) {
  animation-delay: 2.4s;
}

.subtitle {

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
}

.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.btn-red{
  background-color: #ff0000 !important;
  color: #ffffff !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-gray{
  background-color: #dbdbdb !important;
  color: #000000 !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red:hover{
  background-color: #cf0606 !important;

}
.btn-gray:hover{
  background-color: #cccccc !important;

}

.input-group{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Todos los campos ocupan el 100% del ancho */
  height: 45px; /* Todos los campos tienen la misma altura */
}

@media (max-width: 768px) {
  .container-input {
    display: flex;
    justify-content: start;
    align-items: start;
      width: 80%; /* En pantallas pequeñas, ocupa el 100% del ancho */
  }
  .input-group {
    width: 50%; /* Todos los campos ocupan el 100% del ancho */
  }
}
@media (min-width: 768px) {
  .container-input-search{
    display: flex;
    justify-content: center;
  }
}