
.header {
  background-color: #2b2b2b;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

 .basket-icon {
  height: 30px;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

.title {
  font-family: "Poetsen One", sans-serif;
  margin-top: 50px;
  color: #111;
  text-align: center;
}
.title > span {
  animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
  0%,100%{
      color: rgb(255, 60, 0);
      text-shadow: 0 0 12px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0), 0 0 100pz rgb(255, 0, 0);
  }
  10%,90%{
      color: #ffffff;
      text-shadow: none;
  }
}
.title > span:nth-child(2){
  animation-delay: 0.2s;
}

.title > span:nth-child(3){
  animation-delay: 0.4s;
}

.title > span:nth-child(4){
  animation-delay: 0.6s;
}

.title > span:nth-child(5){
  animation-delay: 0.8s;
}

.title > span:nth-child(6){
  animation-delay: 1s;
}

.title > span:nth-child(7){
  animation-delay: 1.2s;
}

.title > span:nth-child(8){
  animation-delay: 1.4s;
}

.title > span:nth-child(9){
  animation-delay: 1.6s;
}

.title > span:nth-child(10){
  animation-delay: 1.8s;
}

.title > span:nth-child(11){
  animation-delay: 2s;
}

.title > span:nth-child(12){
  animation-delay: 2.2s;
}
.title > span:nth-child(13){
  animation-delay: 2.4s;
}

.subtitle{
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;

}
.container-input{
  display: flex;
  justify-content: center;
}

.container-input .input-group {
  width: 50%; /* Por defecto, ocupa el 50% del ancho */
}

@media (max-width: 768px) {
  .container-input .input-group {
    width: 100%; /* En pantallas pequeñas, ocupa el 100% del ancho */
  }
}

.tabbable .nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
 white-space: nowrap;
}      /* Asegura que el navbar esté pegado a la parte superior */