.customSwiper {
  width: 100%;
  height: auto;
}

.customSwiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 !important;
}

.customSwiperImage {
  width: 100%;
  height: auto; /* Ajusta la imagen para ocupar el ancho completo */
  max-height: 100vh; /* Limita la altura máxima para que no sobrepase la pantalla */
  object-fit: cover; 
}

