.action-cart {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .action-cart .p-button {
    width: 50%;
    border-radius: 10px;
    margin: 10px;
  }

  .p-button-success {
    background-color: #F05542;
    transition: background-color 0.25s ease-in-out ;
  
    &:hover {
      
      background-color: #FF7F7F; 
    }
  }

  .p-button-danger{
    background-color: red;
  }