@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Centrar todo en la pantalla */
body {
    height: 100%;
    margin: 0;
    background-color: #f6f5f7; /* Fondo suave */
    font-family: 'Montserrat', sans-serif;
}

.container-auth {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px; /* Ajustado para más espacio */
    max-width: 100%;
    min-height: 500px; /* Altura mínima ajustada */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.container-auth-span {
    font-size: 12px;
}

.container-auth-a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

/* Contenedor de formularios */
.form-user-auth {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  width: 100%; /* Asegura que el formulario ocupe todo el ancho */
}

.form-user-auth input {
  width: 100%; /* Todos los campos ocupan el 100% del ancho disponible */
  max-width: 350px; /* Limita el ancho máximo a 350px */
  height: 45px; /* Todos los campos tienen la misma altura */
  margin-bottom: 10px; /* Reduce el espacio entre los campos */
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 12px;
  background-color: #f2f2f2;
  box-sizing: border-box; /* Evita que padding y border afecten el tamaño */
  transition: all 0.3s ease-in-out; /* Animación para un efecto suave */
}

/* Estilo al recibir foco y para estados de error */
.form-user-auth input:focus, 
.form-user-auth input.is-invalid {
  outline: none;
  border-color: #ff4b2b; /* Color del borde al recibir foco o cuando hay error */
  background-color: #fdf0f0; /* Fondo diferente en caso de error */
  box-shadow: 0 0 8px rgba(255, 75, 43, 0.5); /* Sombra alrededor del campo */
  transform: scale(1.02); /* Agranda los campos ligeramente */
}

/* Asegura que todos los campos cambien de tamaño de forma uniforme */
.form-user-auth input:focus,
.form-user-auth input.is-invalid,
.form-user-auth input {
  height: 45px; /* Mantener la altura consistente en todos los casos */
}

/* Estilo para las etiquetas */
.form-user-auth label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

/* Botones */
.form-user-auth button {
  background-color: #ff4b2b;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-top: 15px;
}

.form-user-auth button:hover {
  background-color: #ff7b5b;
}

/* Estilo para el mensaje de error debajo de cada campo */
.invalid-feedback {
  color: #ff4b2b;
  font-size: 12px;
  margin-top: -5px; /* Espacio ajustado debajo de los campos */
  margin-bottom: 10px; /* Espacio consistente con otros elementos */
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.form-container.active {
  opacity: 1;
  visibility: visible;
}
.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-auth.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-auth.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

/* Estilo para los íconos sociales */
.social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.social-icons a:hover {
    background-color: #ddd;
    border-color: #ddd;
}

/* Contenedor del toggle con gradiente */
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 30px 30px 0; /* Ajuste para bordes redondeados */
    z-index: 1000;
    background: linear-gradient(to right, #ff4b2b, #ff416c); /* Degradado de rojo */
}

.container-auth.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container-auth.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
    position: sticky;
}

.container-auth.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    transform: translateX(0);
    left: 75px;
}

.container-auth.active .toggle-right {
    transform: translateX(200%);
}

.toggle-panel h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  text-align: center; /* Asegurando que el texto esté centrado */
}

.toggle-panel p {
    font-size: 14px;
    color: white;
    margin: 20px 0;
}

.toggle-panel button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.toggle-panel button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-toggle {
  background-color: #ff4b2b;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 80%;
  text-align: center;
}

.btn-toggle:hover {
  background-color: #ff7b5b;
}

.toggle-button-mobile {
    display: none; /* Por defecto no se muestra */
}

/* Media query para pantallas menores de 767px */
@media (max-width: 767px) {
    .toggle-right {
        left: 0; /* Elimina el desplazamiento */
        transform: none; /* Asegura que no haya transformaciones */
    }
}
@media (max-width: 576px) {
    /* Contenedor principal: Ajuste al 100% del ancho y altura */
    .container-auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        max-width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    /* Formularios deben ocupar todo el ancho disponible */
    .form-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .form-user-auth {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .form-user-auth input {
        width: 100%;
        height: 45px;
        margin-bottom: 10px;
        padding: 12px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    /* Botones ajustados */
    .form-user-auth button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border-radius: 20px;
        background-color: #ff4b2b;
        color: white;
        margin-top: 10px;
    }

    /* Iconos sociales */
    .social-icons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .social-icons a {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #333;
        border: 1px solid #ccc;
    }

    .social-icons a:hover {
        background-color: #ddd;
    }

    /* Ajuste para el panel de bienvenida */
    .toggle-container {
        display: none;
    }

    /* Mostrar los formularios sin transiciones */
    .form-container.sign-in, .form-container.sign-up {
        display: none;
    }

    .container-auth.active .sign-up {
        display: flex;
    }

    .container-auth:not(.active) .sign-in {
        display: flex;
    }

    /* Mostrar el botón de alternancia en pantallas pequeñas */
    .toggle-button-mobile {
        display: flex;
        margin-top: 500px;
        justify-content: center;
        bottom: 0;
        width: 100%;
        padding: 15px;
        z-index: 100;
    }

    .toggle-button-mobile button {
        background-color: #ff4b2b;
        color: white;
        border: none;
        padding: 12px;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        border-radius: 20px;
    }

    .toggle-button-mobile button:hover {
        background-color: #ff7b5b;
    }

    /* Eliminar transiciones y animaciones para móviles */
    .container-auth.active .sign-up {
        transform: none;
        opacity: 1;
        z-index: auto;
        animation: none;
    }

    .container-auth:not(.active) .sign-in {
        transform: none;
        opacity: 1;
        z-index: auto;
        animation: none;
    }
}
